body {
    font-family: Arial, sans-serif !important;
    background-color: #f2f2f2;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color:white;
    /*padding-right: 60px;*/
    /*background-color: #FFFFFF;*/
}
.navbar img{
    width:200px;
}
.navbar a{
    margin-right:50px;
}
.banner{
    width:100%;
}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: black;
    padding: 25px;
    color: wheat;
    font-size: 15px;
}
footer ul {
    display: inline-flex;
    justify-content: center;
    list-style: none;
}
footer li{
    margin-right:100px;
}
.carousel-inner{
    /*padding: 0 0 50px 0;*/
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}
ol.carousel-indicators li,
ol.carousel-indicators li.active {
  background: grey;
}

ol.carousel-indicators li.active {
    background: black;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
